<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arapiki.disco.eclipse.DiscoMainEditor"
            default="true"
            extensions="disco"
            icon="images/disco_editor_img.gif"
            id="com.arapiki.disco.eclipse.editors.main"
            name="Disco Build Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Disco Build System"
            id="com.arapiki.disco.eclipse.commands.category"
            name="Disco Build System">
      </category>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that either read or write these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatUse"
            name="Show Tasks that Use these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that read from these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatRead"
            name="Show Tasks that Read these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that write to these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatWrite"
            name="Show Tasks that Write these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the files that are derived from or input to these files."
            id="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
            name="Show Derived/Input Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.derivedType"
               name="derivedType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Fully expand this directory and all its children"
            id="com.arapiki.disco.eclipse.commands.expandFileSubTree"
            name="Expand subtree">
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerShowDetail"
            id="com.arapiki.disco.eclipse.commands.showPathRoots"
            name="Show path roots">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.showDetail"
               name="showDetail"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerShowDetail"
            id="com.arapiki.disco.eclipse.commands.showComponents"
            name="Show components">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.showDetail"
               name="showDetail"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerShowDetail"
            id="com.arapiki.disco.eclipse.commands.showHiddenPaths"
            name="Show hidden paths">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.showDetail"
               name="showDetail"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerHideRevealPath"
            id="com.arapiki.disco.eclipse.commands.hideRevealPath"
            name="Hide / Reveal Paths">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
               name="Hide / Reveal Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerFilterComponents"
            id="com.arapiki.disco.eclipse.commands.filterComponents"
            name="Filter Components">
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerFilterByName"
            id="com.arapiki.disco.eclipse.commands.filterByName"
            name="Filter by Name">
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerSearchByName"
            id="com.arapiki.disco.eclipse.commands.searchByName"
            name="Search by Name">
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerNewEditorTab"
            id="com.arapiki.disco.eclipse.commands.newEditorTab"
            name="Duplicate Editor Tab">
      </command>
      <command
            defaultHandler="com.arapiki.disco.eclipse.files.handlers.HandlerRemoveEditorTab"
            id="com.arapiki.disco.eclipse.commands.removeEditorTab"
            name="Remove Editor Tab">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=discoactions">
         <command
               commandId="com.arapiki.disco.eclipse.commands.expandFileSubTree"
               label="Expand sub-tree"
               style="push">
         </command>
         <command
               commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
               label="Hide Sub-Tree"
               style="push">
            <parameter
                  name="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
                  value="hide">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.arapiki.disco.eclipse.files.FileRecordDir">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
               label="Hide Path"
               style="push">
            <parameter
                  name="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
                  value="hide">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.arapiki.disco.eclipse.files.FileRecordFile">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
               label="Reveal Sub-Tree"
               style="push">
            <parameter
                  name="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
                  value="reveal">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.arapiki.disco.eclipse.files.FileRecordDir">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
               label="Reveal Path"
               style="push">
            <parameter
                  name="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
                  value="reveal">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.arapiki.disco.eclipse.files.FileRecordFile">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.arapiki.disco.eclipse.commands.separator1"
               visible="true">
         </separator>
         <menu
               label="Show Detail...">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showPathRoots"
                  icon="images/show_roots_icon.gif"
                  label="Path Roots"
                  style="toggle">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="path-roots">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showComponents"
                  label="Components"
                  style="toggle">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="components">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showHiddenPaths"
                  label="Hidden Paths"
                  style="toggle">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="show-hidden">
               </parameter>
            </command>
         </menu>
         <menu
               label="Show Tasks That..."
               mnemonic="T">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatUse"
                  label="Use (Read or Write) These Files"
                  mnemonic="U"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="use">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatRead"
                  label="Read From These Files"
                  mnemonic="R"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="read">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatWrite"
                  label="Write To These Files"
                  mnemonic="W"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="write">
               </parameter>
            </command>
         </menu>
         <menu
               label="Show Derived Files..."
               mnemonic="D">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
                  label="Directly Derived Files"
                  mnemonic="D"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.derivedType"
                     value="directDerived">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
                  label="All Derived Files"
                  mnemonic="A"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.derivedType"
                     value="allDerived">
               </parameter>
            </command>
         </menu>
         <menu
               label="Show Input Files..."
               mnemonic="I">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
                  label="Directly Input Files"
                  mnemonic="D"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.derivedType"
                     value="directInput">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
                  label="All Input Files"
                  mnemonic="A"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.derivedType"
                     value="allInput">
               </parameter>
            </command>
         </menu>
         <separator
               name="com.arapiki.disco.eclipse.commands.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.arapiki.disco.eclipse.commands.newEditorTab"
               label="Duplicate Editor Tab"
               style="push">
         </command>
         <command
               commandId="com.arapiki.disco.eclipse.commands.removeEditorTab"
               label="Remove Editor Tab"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.arapiki.disco.eclipse.toolbars.main">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.newEditorTab"
                  icon="images/add_tab_icon.gif"
                  label="Duplicate Editor Tab"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.arapiki.disco.eclipse.editors.main">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.removeEditorTab"
                  icon="images/remove_tab_icon.gif"
                  label="Remove Editor Tab"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.arapiki.disco.eclipse.editors.main">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="com.arapiki.disco.eclipse.commands.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showPathRoots"
                  icon="images/show_roots_icon.gif"
                  label="Show Path Roots"
                  style="toggle"
                  tooltip="Show path roots in the file editor.">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="path-roots">
               </parameter>
               <visibleWhen checkEnabled="true">
                  <with variable="activeEditorId">
                     <equals value="com.arapiki.disco.eclipse.editors.main" />
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showComponents"
                  icon="images/show_components_icon.gif"
                  label="Show Components"
                  style="toggle"
                  tooltip="Show component names in the file editor.">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="components">
               </parameter>
               <visibleWhen checkEnabled="true">
                  <with variable="activeEditorId">
                     <equals value="com.arapiki.disco.eclipse.editors.main" />
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showHiddenPaths"
                  icon="images/show_hidden_files.gif"
                  label="Show Hidden Paths"
                  style="toggle"
                  tooltip="Reveal paths that were hidden.">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.showDetail"
                     value="show-hidden">
               </parameter>
               <visibleWhen checkEnabled="true">
                  <with variable="activeEditorId">
                     <equals value="com.arapiki.disco.eclipse.editors.main" />
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="com.arapiki.disco.eclipse.commands.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.filterComponents"
                  icon="images/filter_components_icon.gif"
                  label="Filter output by selecting components to display."
                  style="push">
                  <visibleWhen checkEnabled="true">
                     <with variable="activeEditorId">
                        <equals value="com.arapiki.disco.eclipse.editors.main" />
                     </with>
                  </visibleWhen>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.filterByName"
                  icon="images/filter_by_name_icon.gif"
                  label="Filter output by name."
                  style="push">
                  <visibleWhen checkEnabled="true">
                     <with variable="activeEditorId">
                        <equals value="com.arapiki.disco.eclipse.editors.main" />
                     </with>
                  </visibleWhen>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.searchByName"
                  icon="images/search_by_name_icon.gif"
                  label="Search by name."
                  style="push">
                  <visibleWhen checkEnabled="true">
                     <with variable="activeEditorId">
                        <equals value="com.arapiki.disco.eclipse.editors.main" />
                     </with>
                  </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatUse">
         <enabledWhen>
            <count
                  value="+">
            </count></enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatRead">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatWrite">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowDerivedFiles"
            commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerExpandFileSubTree"
            commandId="com.arapiki.disco.eclipse.commands.expandFileSubTree">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.arapiki.disco.eclipse.files.FileRecordDir">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arapiki.disco.eclipse.preferences.DiscoTopLevelPreferencePage"
            id="com.arapiki.disco.eclipse.preferences.DiscoPreferencePage"
            name="Disco">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arapiki.disco.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arapiki.disco.eclipse.preferences.DiscoAppearancePreferencePage"
            id="com.arapiki.disco.eclipse.preferences.DiscoAppearancePreferencePage"
            category="com.arapiki.disco.eclipse.preferences.DiscoPreferencePage"
            name="Appearance">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.arapiki.disco.eclipse.commands.expandFileSubTree"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+E">
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
               value="hide">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.hideRevealPath"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.hideRevealType"
               value="reveal">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+ARROW_RIGHT">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.derivedType"
               value="directDerived">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+Ctrl+ARROW_RIGHT">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.derivedType"
               value="allDerived">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+ARROW_LEFT">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.derivedType"
               value="directInput">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.showDerivedInputFiles"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+Ctrl+ARROW_LEFT">
         <parameter
               id="com.arapiki.disco.eclipse.commandParameters.derivedType"
               value="allInput">
         </parameter>
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.newEditorTab"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="com.arapiki.disco.eclipse.commands.removeEditorTab"
            contextId="com.arapiki.disco.eclipse.contexts.discoeditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Disco Editor"
            id="com.arapiki.disco.eclipse.contexts.discoeditor"
            name="Disco Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
