<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arapiki.disco.eclipse.DiscoMainEditor"
            default="true"
            extensions="disco"
            id="com.arapiki.disco.maineditor"
            name="Disco Build Editor">
      </editor>
   </extension>

</plugin>
