<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arapiki.disco.eclipse.DiscoMainEditor"
            default="true"
            extensions="disco"
            icon="images/disco_editor_img.bmp"
            id="com.arapiki.disco.eclipse.editors.main"
            name="Disco Build Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Disco Build System"
            id="com.arapiki.disco.eclipse.commands.category"
            name="Disco Build System">
      </category>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that either read or write these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatUse"
            name="Show Tasks that Use these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that read from these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatRead"
            name="Show Tasks that Read these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the build tasks that write to these files"
            id="com.arapiki.disco.eclipse.commands.showTasksThatWrite"
            name="Show Tasks that Write these Files">
         <commandParameter
               id="com.arapiki.disco.eclipse.commandParameters.accessType"
               name="accessType"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the files that are directly derived from these files (via a single build task)"
            id="com.arapiki.disco.eclipse.commands.showDerivedFiles"
            name="Show Directly Derived Files">
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Show the files that are derived from these files (via any number of build tasks)"
            id="com.arapiki.disco.eclipse.commands.showAllDerivedFiles"
            name="Show All Derived Files">
      </command>
      <command
            categoryId="com.arapiki.disco.eclipse.commands.category"
            description="Fully expand this directory and all its children"
            id="com.arapiki.disco.eclipse.commands.expandFileSubTree"
            name="Expand subtree">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=discoactions">
         <command
               commandId="com.arapiki.disco.eclipse.commands.expandFileSubTree"
               label="Expand sub-tree"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.arapiki.disco.eclipse.files.FileRecordDir">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.arapiki.disco.eclipse.commands.separator1"
               visible="true">
         </separator>
         <menu
               label="Show Tasks that...">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatUse"
                  label="Use (read or write) these Files"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="use">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatRead"
                  label="Read from these Files"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="read">
               </parameter>
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showTasksThatWrite"
                  label="Write to these Files"
                  style="push">
               <parameter
                     name="com.arapiki.disco.eclipse.commandParameters.accessType"
                     value="write">
               </parameter>
            </command>
         </menu>
         <menu
               label="Show Derived Files...">
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showDerivedFiles"
                  label="Directly Derived Files"
                  style="push">
            </command>
            <command
                  commandId="com.arapiki.disco.eclipse.commands.showAllDerivedFiles"
                  label="All Derived Files"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatUse">
         <enabledWhen>
            <count
                  value="+">
            </count></enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatRead">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowTasksThatUse"
            commandId="com.arapiki.disco.eclipse.commands.showTasksThatWrite">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowDerivedFiles"
            commandId="com.arapiki.disco.eclipse.commands.showDerivedFiles">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerShowAllDerivedFiles"
            commandId="com.arapiki.disco.eclipse.commands.showAllDerivedFiles">
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.arapiki.disco.eclipse.files.handlers.HandlerExpandFileSubTree"
            commandId="com.arapiki.disco.eclipse.commands.expandFileSubTree">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arapiki.disco.eclipse.preferences.DiscoTopLevelPreferencePage"
            id="com.arapiki.disco.eclipse.preferences.DiscoPreferencePage"
            name="Disco">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arapiki.disco.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arapiki.disco.eclipse.preferences.DiscoAppearancePreferencePage"
            id="com.arapiki.disco.eclipse.preferences.DiscoAppearancePreferencePage"
            category="com.arapiki.disco.eclipse.preferences.DiscoPreferencePage"
            name="Appearance">
      </page>
   </extension>

</plugin>
